@model IEnumerable<Empathy.Data.Entities.Sede>

@{
    ViewData["Title"] = "Index";
}

<h1>Sede</h1>

<p>
    <a asp-action="Create">Crear nueva sede</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameCampus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressCampus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneCampus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCampus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCampus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneCampus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
