@model Empathy.Data.Entities.Campus
<h4>País</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NameCam)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NameCam)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AddressCam)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AddressCam)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PhoneCam)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PhoneCam)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DoctorsNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DoctorsNumber)
    </dd>
</dl>