@model IEnumerable<Empathy.Data.Entities.Campus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameCam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressCam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneCam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorsNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneCam)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorsNumber)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
